
<!DOCTYPE html>
<html lang="en">
  <head>

  <meta charset="UTF-8">
  {% if title %}

  <title> {{ title }}</title>
  {% else %}
  <title> Welcome to the best blogposts </title>
  {% endif %}
  {% extends 'base.html'%}
  {% import 'macros.html' as macro%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  
   
  </head>

<body>
  {% block content %}
  <h1>Hello wellcome to blogposts!!!</h1>

  <div class="container-fluid">
    
    <a href="/subscribe" style="float:right;">subscribe</a>
  </div>
  <blockquote class="text-center text-lg">
      <h2> Random Quotes</h2>
      <p>{{quote.quote}}</p>
      <p class="sab">Author: {{quote.author}}</p>
  <br><br>

  <ul>
      {%for blogpost in blogposts%}       
     <li>Blogpost:{{blogpost.description_path}}</li> 
     <a href="/comment/new" class="btn btn-primary btn-md">Leave comment</a>
     <a class="btn btn-primary btn-md" href="/delete/{{blogpost.id}}">Delete blogpost</a>
     <a href="/comment" class="btn btn-primary btn-md">view comments</a>
  
  {%endfor%}
  </ul>
  <a href="/blogpost/new" class="btn btn-primary btn-md">Add blogpost</a>
  {% endblock%}

</body>
</html> 


 