
<!DOCTYPE html>
<html lang="en">
  <head> 

  <meta charset="UTF-8">
  {% if title %}

  <title> {{ title }}</title>
  {% else %}
  <title> Welcome to the best blogposts </title>
  {% endif %}
  {% extends 'base.html'%}
  {% import 'macros.html' as macro%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  {% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
{% endblock %}
  
  </head>

<body>
  {% block content %}
  <div class="container-fluid">
  <h1 class="text-center text-lg">Hello wellcome to blogposts!!!</h1>
  </div>
  
  <blockquote class="text-center text-lg">
      <h2> Random Quotes</h2>
      <p>{{quote.quote}}</p>
      <p class="sab">Author: {{quote.author}}</p>
  <br><br>

      {%for blogpost in blogposts%}       
     <p>Blogpost:{{blogpost.description_path}}</p> 
     <a href="/comment/new" class="btn btn-primary btn-md">Leave comment</a>
     <a class="btn btn-primary btn-md" href="/delete/{{blogpost.id}}">Delete blogpost</a> 
     <a href="/comment" class="btn btn-primary btn-md">view comments</a><br><br>
  
  {%endfor%}
  
  <p><a href="/blogpost/new" class="btn btn-primary btn-md">Add blogpost</a> </p><br>

  <div class="container-fluid">
    
      <a href="/subscribe" style="float:center;">subscribe</a>
    </div>
  {% endblock%}

</body>
</html> 


 